<div class="col-md-3">
    <a href="/admin/banner"><button class="btn btn-warning mt-3">Banner Management</button></a>
    <a href="/admin/services"><button class="btn btn-warning mt-3">Service Management</button></a>
    <a href="/admin/testi"><button class="btn btn-warning mt-3">Testi Management</button></a>
    <a href="/admin/query"><button class="btn btn-warning mt-3">Query Management</button></a>
    <a href="/admin/add"><button class="btn btn-warning mt-3">Address Management</button></a>


</div>